<a href="https://colab.research.google.com/github/tomersk/learn-python/blob/main/03_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 3.5 DataFrame

DataFrame is a kind of dictionary. In a dictionary, each key corresponds to a value, while in the DataFrame, each key corresponds to a series (column). *pandas* is a library to deal with DataFrame, we will be using the same. 

### 3.5.1 Creating a DataFrame
Let us start taking the same sample data as we took in the *dictionary* section.

In [2]:
import pandas as pd

names = ['Delhi', 'Bangalore', 'Kolkata']
rainfall = [0, 5, 10]

data = {
  "names": names,
  "rainfall": rainfall
}

df = pd.DataFrame(data)
print(df)

       names  rainfall
0      Delhi         0
1  Bangalore         5
2    Kolkata        10

This example does not show any benefit of using DataFrame over the dictionary. However, as we go much deeper into the DataFrame, the benefits will be obvious, so keep some patience.

Let get data over second and third row in our DataFrame:

In [3]:
print(df.loc[[1,2]])

       names  rainfall
1  Bangalore         5
2    Kolkata        10

Note that when we would like to have more than one row, we are providing input as list ([1,2]).

### 3.5.2 Indexing DataFrame

We can provide the name of row (i.e. index) also such as:

In [5]:
df = pd.DataFrame(data, index = ["first", "second", "third"])

print(df)

            names  rainfall
first       Delhi         0
second  Bangalore         5
third     Kolkata        10

Then, we can print value based on the index:

In [6]:
print(df.loc["first"])

names       Delhi
rainfall        0
Name: first, dtype: object